<% provide(:title, 'Contact') %>
<h1>Contactanos</h1>
<p>
  Contacta el "Tutorial de Ruby on Rails acerca de la aplicacion de muestra en: 
  <a href="http://railstutorial.org/contact">Pagina de contacto</a>.
</p>
