<% provide(:title, 'Help') %>
<h1>Ayuda</h1>
<p>
  Obtenga ayuda en el Tutorial de Ruby on Rails
  <a href="http://railstutorial.org/help">Pagina de ayuda del "Tutorial de Rails"</a>.
  Para obtener la aplicacion de muestra mire:
  <a href="http://railstutorial.org/book">Libro del "Tutorial de Rails"</a>.
</p>
